
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/assets/vendors/general/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/assets/print/jQuery.print.min.js"></script>
</head>
<body>
    <div id="print_content" style="margin-left:40px;margin-top:-30px;">
        @RenderBody()
    </div>
    <script>
        $(function () {
            $('#print_content').print();
        });
    </script>
</body>
</html>
